*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: #FF900E1A;
}
/* nav section */
nav{
    margin: 0 10%;
    padding: 20px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-decoration: none;
}
.ber a{
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    text-decoration: none;
    transition: 1s;
}
.ber a:hover{
    color: orange;
    font-weight: bold;
    font-size: 22px;
}
/* main-details */
.main-details{
    text-align: center;
}
.main-details h1{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    padding: 15px 0;
    
}
.main-details p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 15px 0;
}
.btn{
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    padding: 20px 20px ;
    border-radius: 10px;
    border: none;
    background-color: orange;
    transition: 4s;
}
.btn:hover{
    background-color: transparent;
    color: #727272;
    border: 1px solid orange;
}
/* banner */
.banner{
    margin: 0 10%;
}
.banner img{
    width: 100%;
    padding: 30px 0;
}
/* Features-list */
.Features-list{
    display: flex;
    margin: 3% 12%;
    align-items: center;
}
.half-width{
    width: 50%;
}
.Features-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.Features-img img{
    width: 100%;
}
.Features-details{
    padding-left: 50px;
}
.Features-details h2{
    font-size: 45px;
    padding: 15px 0;
}
.a{
    color: #424242;
}
.b{
    color: #131313;
}
.c{
    color: orange;
}
.Features-details p{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}